<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="../public/stylesheets/style.scss">
    <title>Login</title>
</head>
<body>


   <div id="login">
    <h2>Login</h2>
    <form action="/login" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text"> </div>
    </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">

    <button type="submit">login</button>
  </div>
  

        {{#if errorMessage}}

      <div class="msg">{{errorMessage}} </div>

      {{/if}}

    </form>
</div> 
</body>
</html>
