<div class="container">
  <div class="box-w p-10">
    <h2>Signup</h2>
    <div class="salutation">
      <h3>Welcome to <b>Ironkut</b>! </h3>
      <p> We just need to confirm a few things before you start using Ironkut:</p>
    </div>
    <div id="signup">
      <form action="/signup" method="POST">
        <div class="form-label form-label-bg">
          <label for="input-username">User name:</label>
          <input type="text" id="input-username" name="username" placeholder="Your user name" />
          <label for="input-last">Last name:</label>
          <input type="text" id="input-lastname" name="lastname" placeholder="Your last name" />
        </div>

        <div class="form-label form-label-bg">
          <label for="input-email">E-mail:</label>
          <input type="email" class="input-email" name="email" id="inputEmail1" aria-describedby="emailHelp"
            placeholder="Your e-mail">
        </div>
        <div class="form-label form-label-bg">
          <label for="exampleInputPassword1">Password:</label>
          <input type="password" class="input-email" name="password" id="exampleInputPassword1"
            placeholder="Your password">
        </div>

        <div class="form-label form-label-bg">
          <label>Birthday</label>
          <input id="date" type="date" name="birthday">
        </div>

        <div class="form-label form-label-bg">
          <input class="form-check-input" type="radio" name="genre" value="female" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Female
          </label>
          <input class="form-check-input" type="radio" name="genre" value="male" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Male
          </label>
        </div>



         <div class="form-label form-label-bg">
          <select class="form-select" aria-label="Default select example" name="country">
            <option selected>Country</option>
            <option value="BR">BR</option>
            <option value="PT">PT</option>
            <option value="USA">USA</option>
          </select>
        </div>

        <button type="submit" class="btn">Create</button>

        {{#if errorMessage}}

        <div class="error-msg">{{errorMessage}} </div>

        {{/if}}

      </form>

    </div>
  </div>
</div>