<div class="c-bar">
  <nav class="navBar">
    <form class="search" action="/search " method="post">
      <label for="busca">Search User</label>
      <input type="search" id="busca" name="username">
      <button type="submit" class="btn">Search</button>
    </form>
  </nav>
</div>