{{> searchPartials}}

<div class="container">
  <div class="row space-bet">
    <div class="col-1">
      <div class="box-w p-10 h-0">
        {{> sideBar currentUser}}
      </div>

    </div>
    <div class="col-11">
      <div class="box-w" style="height: 100%;">
      </div>
    </div>
  </div>
</div>