<div class="c-bar">
  <nav class="navBar">
    <form class="search" action="/search " method="post">
      <label for="busca">Buscar</label>
      <input type="search" id="busca" name="username">
      <button type="submit" class="btn">OK</button>
    </form>
  </nav>
</div>

<div class="container">
  <div class="row space-bet">
    <div class="col-1">
      <div class="box-w p-10 h-0">
        {{> sideBar currentUser}}
      </div>

    </div>
    <div class="col-11">
      <div class="box-w" style="height: 100%;">
        <button>Seguir</button>

        {{user.username}} {{user.followers}}
      </div>
    </div>
  </div>
</div>
{{!-- <div class="container">
  <div class="row space-bet">
    <div class="col-1">
      <div class="box-w p-10 h-0">
        {{> sideBar currentUser}}
      </div>
    </div>
  </div>
</div>

<button>Follow</button>

{{user.username}} {{user.followers}} --}}