<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IRONKUT Profile</title>
</head>
<body>
 {{#if userInSession}}
    <h2>Welcome, {{ userInSession.username }}!</h2>
    <p>This is your profile page my friend!</p>
    <button>
        <a href="/user-profile">Reload the page</a>
    </button>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}

</nav> 
</body>
</html>