body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

body {
    background-color: #d9e5f7;
}

.signup {
    max-width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#signup .firstname {
    margin: 3cm solid red;
}





